<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="moshaveramlak.Properties.Settings.amlakConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\amlak.mdb"
            providerName="System.Data.OleDb" />
           </connectionStrings>
</configuration>